@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aw0fbv');
  src:  url('fonts/icomoon.eot?aw0fbv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aw0fbv') format('truetype'),
    url('fonts/icomoon.woff?aw0fbv') format('woff'),
    url('fonts/icomoon.svg?aw0fbv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-arrow-thin-up:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-facebook2:before {
  content: "\e902";
}
.icon-mail2:before {
  content: "\ea84";
}
